[deployment]
pattern = "DEV"
hostname = "localhost"

[super_admin]
username = "admin"
password = "admin"

[user_store]
type = "active_directory"
connection_url = "ldap://ldap.example.com:389"
connection_name = "cn=Administrator,ou=Users, dc=EXAMPLE, dc=COM"
connection_password = "$secret{ldap_password}"
base_dn = "dc=EXAMPLE, dc=COM"
[user_store.properties]
class = "org.wso2.carbon.user.core.ldap.ActiveDirectoryUserStoreManager"
tenant_manager = "org.wso2.carbon.user.core.tenant.CommonHybridLDAPTenantManager"
anonymous_bind = false
user_search_base = "CN=Users,DC=WSO2,DC=Com"
group_search_base = "CN=Users,DC=WSO2,DC=Com"
user_entry_object_class = "identityPerson"
group_entry_object_class = "group"
user_name_attribute = "uid"
user_name_search_filter = "(&amp;(objectClass=user)(cn=?))"
user_name_list_filter = "(objectClass=person)"
display_name_attribute = ""
read_groups = true
write_groups = true
group_name_attribute = "cn"
group_name_search_filter = "(&amp;(objectClass=group)(cn=?))"
group_name_list_filter = "(objectcategory=group)"
membership_attribute = "member"
member_of_attribute = "memeberOf"
back_links_enabled = false
referral = "follow"
username_java_regex = "[a-zA-Z0-9._\-|//]{3,30}$"
username_javascript_regex = "^[\S]{3,30}$"
username_java_regex_violation_error_msg = "Username pattern policy violated"
password_java_regex = "^[\S]{5,30}$"
password_javascript_regex = "^[\S]{5,30}$"
password_java_regex_violation_error_msg = "Password length should be within 5 to 30 characters"
rolename_java_regex = "[a-zA-Z0-9._\-|//]{3,30}$"
rolename_javascript_regex = "^[\S]{3,30}$"
scim_enabled = false
is_bulk_import_supported = true
empty_roles_allowed = true
password_hash_method = "PLAIN_TEXT"
multi_attribute_separator = ","
is_adlds_role = false
user_account_control = "512"
max_user_name_list_length = "100"
max_role_name_list_length = "100"
membership_attribute_range = 1500
kdc_enabled = false
default_realm_name = "WSO2.ORG"
user_roles_cache_enabled = true
connection_pooling_enabled = false
ldap_connection_timeout = 5000
read_timeout = ""
retry_attempts = ""
start_tls_enabled = false

[secrets]
ldap_password = "encrypted_value_1"